/* MainPage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
}

.main {
    background-color: #0000b4;
    color: white;
    padding: 0px 160px;
    text-align: center;
}

h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.categories {
    font-size: 16px;
}

.product-list .col {
    display: flex;
    justify-content: center;
}

.cart-button {
    background-color: #ffffff;
    color: rgb(57, 2, 255);
    border: none;
    padding: 10px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    top: -75px;
    left: 515px;
}
.d-flex{
    font-size: 16px;
}
.me-2 search form-control{
    font-size: 16px;
}
.cart-button:hover {
    background-color: lightgray;
}

footer {
    background-color: white;
    color: #0000b4;
    padding: 40px;
    text-align: center;
}

.mb-0{
    color:#ffffff;
}

footer h2 {
    font-size: 48px;
    color: #0000b4;
    border-bottom: 3px solid rgb(118, 167, 190);
    text-align: left;
    margin-left: 160px;
    margin-right: 760px;
}
