/* src/pages/OrdersPage/OrdersPage.css */


  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .table {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  button {
    margin-right: 10px;
  }
  